<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width user-scalable=no">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/bb.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

        <div id="container">
            <img id="background" src="/img/background.jpg"/>
            <img id="alt-gegen-neu" src="/img/alt-gegen-neu.png"/>
            <img id="phones" src="/img/phones.png"/>
            <img id="logo" src="/img/logo.png"/>
            <img id="trade-up" src="/img/trade-up.png"/>
            {{ if . }}
                <div id="message">
                {{ . }}
                </div>
            {{ end }}

            <div id="form-container">
                <form method="POST" action="/signups">
                    <input class="input" id="first-name" placeholder="Vorname" type="text" name="first_name"><br>
                    <input class="input" id="last-name" placeholder="Nachname" type="text" name="last_name"><br>
                    <input class="input" id="email" placeholder="Email" type="text" name="email_addr"><br>
                    <button id="sign-up" disabled="true">Senden</button>
                </form>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script>
            Modernizr.load({
                test: Modernizr.input.placeholder,
                nope: [
                        '/css/placeholder_polyfill.css',
                        '/js/placeholder_polyfill.jquery.js', // this and the css above are the only required files
                      ]
            });
        </script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
