<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <style type="text/css">
        {% include camera.css %}
    </style>
</head>
<body>
    <div id="fb-root"></div>
    {{ content }}
    <script>{% include fb.js %}</script>
    <script>{% include binaryajax.js %}</script>
    <script>{% include canvas2blob.js %}</script>
    <script>{% include exif.js %}</script>
    <script>{% include megapix-image.js %}</script>
    <script>{% include camera.js %}</script>
</body>
</html>